@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  background-color: #ccc;
  width: 5px;
  scrollbar-gutter: stable;
}
::-webkit-scrollbar-thumb {
  background: #486d8f;
  border-radius: 16em;
}

/* Tarjeta principal */
.hero {
  transform: rotateX(0deg) !important;
  transition: all 0.2s;
}
.hero-rotate {
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0) !important;
  transition: all 0.2s;
}

/* Para el efecto modal */
.home-page__center.active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000063;
  z-index: 10;
  pointer-events: none;
  transition: all 0.2s;
}

/* SECTION CONTACTO */

@layer components {
  #footerHomePage {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  html.dark #footerHomePage {
    background-image: url(./assets/images/bgGradient.avif);
  }
  #footerHomePage {
    background-image: url(./assets/images/background.png);
  }
}

.bg-bootstrap {
  --tw-bg-opacity: 1;
  background-color: #6366f1;
}
.bg-mongodb {
  --tw-bg-opacity: 1;
  background-color: #009988;
}
.bg-python {
  --tw-bg-opacity: 1;
  background-color: #ffec00;
}
.bg-php {
  --tw-bg-opacity: 1;
  background-color: #fd00459f;
}

.fade-in {
  animation: fade-in 0.3s backwards linear !important;
}

.fade-in-icon {
  animation: fade-in 0.2s backwards linear !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 1;
    transform: translateY(-100%);
  }
}

/* ANIMATION FOR THE PAGES */

.animate-portafolio {
  animation: portafolio 200ms forwards ease-in-out;
}

@keyframes portafolio {
  from {
    opacity: 0;

    transform: translateX(50%);
  }
  to {
    opacity: 1;

    transform: translateX(0);
  }
}

.animate-skills {
  animation: skills 200ms forwards ease-in-out;
}

@keyframes skills {
  from {
    opacity: 0;

    transform: translateX(-50%);
  }
  to {
    opacity: 1;

    transform: translateX(0);
  }
}
