@tailwind components;

@layer components {
  #defaultLayout {
    background-attachment: fixed;
  }
  html.dark #defaultLayout {
    background-image: url(../assets/images/bgGradient.avif);
  }
  #defaultLayout {
    background-image: url(../assets/images/background.png);
  }
}
